@font-face { font-family: 'Messenger Pigeon'; src: url('./fonts/sample.ttf') format('truetype'); }
  .btn:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
   #ab,#bb,#eb,#tb,#fb,#arb{
    background-color:#f15654;
    text-decoration: none;
    border:none;
    color:white;
    font-size: 14px;
   }
   #ab{
     position: relative;
     right: -220px;
     height: 60px;
     vertical-align: middle;
     line-height: 45px;
   }
   #arb{
    position: relative;
    right: -260px;
    height: 60px;
    vertical-align: middle;
    line-height: 45px;
  }
  #tb{
    position: relative;
    right: -300px;
    height: 60px;
    vertical-align: middle;
    line-height: 45px;
  }
  #bb{
    position: relative;
    right: -340px;
    height: 60px;
    vertical-align: middle;
    line-height: 45px;
  }
  #eb{
    position: relative;
    right: -380px;
    height: 60px;
    vertical-align: middle;
    line-height: 45px;
  }
  #fb{
    position: relative;
    right: -420px;
    height: 60px;
    vertical-align: middle;
    line-height: 45px;
  }
  #sb{
    position: relative;
    right: -460px;
    top:0px;
    color:#f15654;
    border:0;

  }
#mb{
font-family: 'Messenger Pigeon', cursive;
font-size:36px;
position: relative;
top:-4px;
color:white;
height:60px;
vertical-align:middle;
line-height: 60px;
}
   #ab:hover,#bb:hover,#eb:hover,#tb:hover,#fb:hover,#arb:hover{
    background-color:white;
    border:none;
    color:#f15654;
    font-size: 14px
   }
   @media only screen and (max-width:819px) {
   .navbar-collapse{
     background-color:#ffffff;
   	transition:left 0.3s ease-in;
   	transition:left 0.3s ease-out;
   	position: absolute;
   	top:0;
   	left:-6px;
   	height: auto;
   }
   #ab,#bb,#eb,#tb,#fb,#arb{
    background-color:#ffffff;
    text-decoration: none;
    border:none;
    color:#f15654;
    font-size: 14px;
    padding-left:15px;
   }
   #ab:hover,#bb:hover,#eb:hover,#tb:hover,#fb:hover,#arb:hover{
   	color:#ed3b38;
   	font-weight: bold;
   }
   .navbar-collapse.collapsing {
   			 height: auto;
   			 -webkit-transition: left 0.3s ease;
   			 -o-transition: left 0.3s ease;
   			 -moz-transition: left 0.3s ease;
   			 transition: left 0.3s ease;
   			 left:-100%;
   			  z-index: 10;
   	 }
   	 .navbar-collapse.show {
   			 left:-6px;
   			 -webkit-transition: left 0.3s ease-in;
   			 -o-transition: left 0.3s ease-in;
   			 -moz-transition: left 0.3s ease-in;
   			 transition: left 0.3s ease-in;
   			  z-index: 10;
   	 }

   }
   @media only screen and (max-width: 820px) {
       /* For mobile phones: */
   #ab,#bb,#arb,#eb,#tb,#fb,#sb{
   	position:relative;
   	right:10px;
   }
       }
   		@media only screen and (min-width: 821px) and (max-width:1100px) {
   		    /* For mobile phones: */
   		#ab{
   			position:relative;
   			right:-20px;
   		}
   		#arb{
   			position: relative;
   			right:-30px
   		}
   		#tb{
   			position: relative;
   			right:-40px
   		}
   		#bb{
   			position: relative;
   			right:-50px
   		}
   		#eb{
   			position: relative;
   			right:-60px
   		}
   		#fb{
   			position: relative;
   			right:-70px
   		}
   	#sb{
   		position: relative;
   		right:-80px
   	}
   }
   #collapsibleNavbar{
   	position: relative;
   	top:0px;
   }
   .footer{
   	position: fixed;
   	bottom: 0;
   	left: 0;
   	right: 0;
   	width: 100%;
   }
   #tra,#tre,#trp,#trb{
   	color:#f15654;
   }
   /*articles.html*/
   #a1b,#a2b,#a3b,#a4b,#a5b,#a6b,#a7b{
   background-color:#f15654;
      text-decoration: none;
      border:none;
      color:white;
      font-size: 17px;
    font: 400 20px 'Lobster Two',cursive;
    letter-spacing: 1.5px;
    border-radius:15px;
    height: 30px;
   }
   #a1b:hover,#a2b:hover,#a3b:hover,#a4b:hover,#a5b:hover,#a6b:hover,#a7b:hover{
    background-color:white;
    border:none;
    color:#f15654;
    font-size: 20px
   }
   #upb1{
   color:#eeeeee;
   	    border: none;
   		border-radius: 50%;
   		cursor: pointer;
   	width: 50;
   	height: 50;
   	position:absolute;
   	right: 20px;
   	bottom: 10px;
   	}
    .decorate{
    	font: 400 35px 'Pacifico',cursive;
    	letter-spacing: 1px;
    }
    .card{
    	background-color: #eeeeee;
    		border-radius: 25px;
    		border:0;
    }
